.about-hero-contianer {
  width: 100%;
  margin-top: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #FFC039; }

.about-card {
  height: 20%;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 75%;
  max-width: 1000px;
  background: #ffde86;
  position: relative; }
  .about-card h1 {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 5px; }
  .about-card .text-container {
    width: calc(100% - 170px);
    margin: 0;
    display: inline-block; }
    .about-card .text-container p {
      font-family: "Roboto", sans-serif;
      text-align: justify;
      margin: 5px; }
  @media only screen and (max-width: 710px) {
    .about-card {
      height: 20%;
      width: calc(100% - 100px); }
      .about-card h1 {
        font-size: 1.2em; }
      .about-card .text-container {
        width: 100%; }
        .about-card .text-container p {
          font-size: 0.8em; } }

.pic-container {
  height: 150px;
  width: 150px;
  margin: 10px;
  float: left;
  background-image: url(../img/about-pic-1.png);
  background-size: cover;
  transition: 0.2s;
  transform: translateX(0px);
  transform: translateY(0px); }
  @media only screen and (max-width: 710px) {
    .pic-container {
      height: 25px;
      width: 25px;
      float: right;
      transform: translateX(5px);
      transform: translateY(5px); } }
