.about-hero-contianer {
  height: 100%;
  width: 100%;
  margin-top: 250px;
  background: #FFC039; }

.about-card {
  height: 170px;
  margin: 10px;
  margin: 0 auto;
  width: 75%;
  max-width: 1000px;
  background: #555; }

.pic-container {
  height: 150px;
  width: 150px;
  float: left;
  margin: 10px;
  background-image: url(../img/about-pic-1.png);
  background-size: cover; }
  @media only screen and (max-width: 710px) {
    .pic-container {
      height: 25px;
      width: 25px; } }

.text-container {
  height: 150px;
  width: calc(100% - 200px);
  float: left;
  margin: 10px;
  background: #ffde86; }
  .text-container h1 {
    font-family: "Dosis", sans-serif;
    margin: 5px; }
  .text-container p {
    font-family: "Roboto", sans-serif;
    margin: 5px; }
  @media only screen and (max-width: 710px) {
    .text-container {
      height: 100px;
      width: calc(100% - 20px); }
      .text-container h1 {
        font-family: "Dosis", sans-serif;
        font-size: 1.2em;
        margin: 5px; }
      .text-container p {
        font-family: "Roboto", sans-serif;
        font-size: 0.8em;
        margin: 5px; } }
