// Media Seciton for responsive website

$window-mid: 1024px;
$window-small: 710px;

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $window-small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $window-small) and (max-width: $window-mid) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (max-width: $window-mid) { @content; }
    }
}

.about-hero-contianer{
    // height: 100%;
    width: 100%;

    margin-top: 250px;

    background: $secondarycolor;
}
// .about-card{
//     height: 170px;
//     margin: 10px;
//
//     margin: 0 auto;
//     width: 75%;
//     max-width: 1000px;
// }

.about-card{
    height: 200px;

    margin: 0 auto;
    margin-bottom: 5px;
    width: 75%;
    max-width: 1000px;

    background: $primarycolor;

    h1{
        font-family: $title-font;
        margin: 0;
        padding: 5px;
    }
    p{
        font-family: $content-font;
        text-align: justify;
        margin: 5px;
    }

    @include respond-to(handhelds) {
        height: 120px;
        width: calc(100% - 50px);
        h1{
            font-size: 1.2em;
        }
        p{
            font-size: 0.8em;
        }
    }
    @include respond-to(medium-screens) {;}
    @include respond-to(wide-screens) {;}
}

.pic-container{
    height: 150px;
    width: 150px;
    float: left;

    margin: 10px;

    background-image: url(../img/about-pic-1.png);
    background-size: cover;

    @include respond-to(handhelds) {
        height: 25px;
        width: 25px;
        float: right;
    }
}
