.about-hero-contianer{
    height: 800px;
    width: 100%;

    margin-top: 250px;

    background: $secondarycolor;
}
.about-card{
    height: 170px;
    margin: 10px;

    margin: 0 auto;
    width: 75%;
    max-width: 1000px;


    background: #555;
}
.pic-container{

    height: 150px;
    width: 150px;
    float: left;

    margin: 10px;

    background-image: url(../img/about-pic-1.png);
    background-size: cover;
}
.text-container{
    height: 150px;
    width: calc(100% - 200px);
    float: left;

    margin: 10px;

    background: $primarycolor;

    h1{
        font-family: $title-font;
        margin: 5px;
    }
    p{
        font-family: $content-font;
        margin: 5px;
    }
}
