@mixin title-font {
    font-family: $title-font;
    font-size: 40px;
    font-weight: $font-bold;
}

@mixin main-hero {
    height: 200px;
    background: $secondarycolor;
}

.main-h1 {
    @include title-font;
}

.blog-page {
    @include title-font;
    margin: 0;
}


.hero  {
    @include main-hero;
    opacity: .8;
    border-top: 1px solid $tertiarycolor;
    border-bottom: 2px solid $tertiarycolor;
}

.hero .font-container {
    padding: 70px 0px;
    text-align: center;
}
    .main-h1 {
        margin: 0;
    }

.blog-content-hero {
    @include main-hero;
    opacity: .8;
    border-top: 1px solid $tertiarycolor;
    border-bottom: 2px solid $tertiarycolor;

.font-container {
    padding: 60px 0px;
    font-family: $title-font;
    text-align: center;
    }

    .date {
        margin-bottom: 15px;
        margin-top: 5px;
        font-family: $title-font;
    }
}

.back-a-tag {
  display: inline-block;
  transition: .1s all ease-in;
}

.back-a-tag:hover {
  transform: scale(1.2,1.2);
  font-weight: 600;
  color: $tertiarycolor;
}


@media (max-width: 800px) {

    .blog-content-hero {
        text-align: center;
      }

      .font-container {
        text-align: center;
        }

        .blog-page {
        font-size: 30px;
        }

        .main-h1 {
            font-size: 30px;
            text-align: center;
        }

        .back-a-tag {
          padding-right: 20px;
        }

        .back-a-tag:hover {
          font-weight: 400;
          transform: none;
        }
}
