.main-container{
   width: 90%;
   margin: 0 auto;
}

.row-container{
   padding: 20px;
}

.row-container a{
    text-decoration: none;
    color: black;
}

.row-container a:hover{
    color: $secondarycolor;

}

.thumbnail{
   width: 180px;
   height: 180px;
   background: $primarycolor;
   display: inline-block;
   margin-right: 30px;
   vertical-align: top;
}

.text{

   width: calc(100% - 250px);
   display: inline-block;
   overflow: hidden;
   vertical-align: top; 
}

.text h2{
   margin: 0;
   font-family: $title-font;
}
.text p,.text subtitle{
   height: 100px;
   font-family: $content-font;
}

@media (max-width: 922px) {
    .text p, .text subtitle{
        font-size: 0.9em;
    }

     .text h2{
    font-size: 1.3em;
     }
}
