.main-container{
   width: 90%;
   margin: 0 auto;
}

.row-container{
   padding: 20px;
}


.thumbnail{
   width: 180px;
   height: 180px;
   background: red;
   display: inline-block;
   margin-right: 30px;

}
.text {

   width: calc(100% - 250px);
   display: inline-block;
   overflow: hidden;
}

.text h2{
   margin: 0;
}
.text p{

   padding-bottom: 10px;
   height: 100px;
}
