.main-container{
   width: 100%;
   margin: 0 auto;
   padding-bottom: 5%;
   font-family: $content-font;
   background: $secondarycolor;
}

.row-container{
   padding: 20px;
   width: 80%;
   height: 20%;
   margin: 0 auto;
   margin-bottom: 20px;

   text-align: justify;

}

.row-container a{
    text-decoration: none;
    color: black;
}

.row-container a:hover{
    color: $tertiarycolor;
}

.thumbnail{
   width: 180px;
   height: 180px;
   background-image: url(../img/about-pic-1.png);
   background-size: cover;
   display: inline-block;
   margin-right: 30px;
   vertical-align: middle;
}

.text-body{
    margin: 0;
   width: calc(100% - 250px);
   // height: 180px;
   display: inline-block;
   vertical-align:middle;
   // text-overflow: ellipsis;
}

.text-body h2{
   margin: 0;
   margin-top: 5px;
   font-family: $title-font;
}

// .readmore-button{
//     float: right;
// }

@media (max-width:700px) {
    .main-container{
       width: 100%;
       padding-bottom: 11%;
       margin: 0 auto;
    }

    .row-container{
        margin: 0 auto;
       // padding: 20px;
       height: 20%;
       // min-width: 500px;
       margin-bottom: 20px;
    }
    .text-body{
        // height: 120px;
        text-overflow: none;
        margin: 0 auto;
        min-width: 90%;

    }
    .thumbnail{
       width: 120px;
       height: 120px;
       // margin-right: 10px;
    }
.text h2{
    font-size: 1.2em;
}
    .text p,.text subtitle, .text a{
       font-size: .8em;
    }
    // .readmore-button{
    //     float: none;
    //     display: block;
    //     padding-left: 80%;
    //     font-size: .8em;
    // }
}
//
// @media (max-width:922px) {
//     .row-container{
//        height: 100px;
//     }
//     .thumbnail{
//        width: 150px;
//        height: 150px;
//        vertical-align:middle;
//     }
//     .text h2{
//    font-size: 1.1em;
//     }
//
//     .text p, .text subtitle{
//         height:110px;
//         font-size: 0.89em;
//         margin: 0;
//     }
//
//      .readmore-button{
//              float: right;
//      }
// }
